<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>500 Internal Server Error</title>
    </head>
    <style media="screen">
        h1, h2 {
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: center;
        }
        img {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 70%;
        }
    </style>
    <body>
        <div>
            <h1>The server encountered an internal error and was unable to complete your request.
                Either the server is overloaded or there is an error in the application.</h1>
            <h2>If you need immediate help, please <a href="mailto:motazbellahhamdy@gmail.com">contact us</a><br>
                For urgent situation, please <a href="tel:0201069090037">call us</a></h2>
            <img src="500.png" alt="500 Internal Server Error">
        </div>
    </body>
</html>
